#town {
    display: grid;
    grid-template-columns: repeat(25, 400px); /* 25列のブロック */
    grid-template-rows: repeat(25, 400px); /* 25行のブロック */
    gap: 1px;
}

.block {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
    background-size: contain; /* 画像がブロックに収まるように調整 */
}


.path {
    background-image: url('grass.png'); /* grass.pngを道の画像として使用 */
    background-size: cover; /* 画像をブロックにフィットさせる */
}

.wall {
    background-image: url('stone.png'); /* stone.pngを壁の画像として使用 */
    background-size: cover; /* 画像をブロックにフィットさせる */
}

.house {
    background-image: url('home.png'); /* home.pngを壁の画像として使用 */
    background-size: cover; /* 画像をブロックにフィットさせる */
}

.hero {
    background-color: #0f0; /* キャラクター */
    background-image: url('hero.png'); /* キャラクターの画像 */
    background-size: cover; /* 画像をブロックにフィットさせる */
}
